<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	PreparedStatement / ResultSet 관련
	=> SQL 문장 등록
 -->
 <!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sist.dao.emp-mapper">
 	<!-- 
 		 (cache-ref | cache | resultMap* | parameterMap* | sql* | 
          insert* | update* | delete* | select*)+
          
          resultMap : 결과값 읽기, 컬럼명=VO변수명 일치
          parameterMap : procedure
          sql : 공통기반
 	 -->
 	 <!-- id는 중복되면 오류, primary key -->
 	 <sql id="select-sql"> <!-- 자주 쓰는 SQL문장 등록 -->
 	 	SELECT * FROM emp
 	 </sql>
 	 
 	 <!-- selectList -->
 	 <select id="empListData" resultType="EmpVO"> <!-- resultType = 받은 데이터 넣을 곳 -->
 	 	<!-- SELECT * FROM emp -->
 	 	<include refid="select-sql"/>
 	 </select>
 	 
 	 <!-- selectOne -->
 	 <!--
 	 	id : 메소드명
 	 	resultType : 리턴형
 	 	parameterType : 매개변수 
 	 -->
 	 <select id="empDetailData" resultType="EmpVO" parameterType="int">
 	 	<!-- SELECT * FROM emp -->
 	 	<include refid="select-sql"/>
 	 	WHERE empno=#{empno} <!-- #{} = ? -->
 	 </select>
 </mapper>