<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.databoard-mapper">
	<!-- 
		<sql> : SQL문장의 중복 제거 => <include>
		<select id="" resultType="" parameterType="" resultMap=""> : 
		<insert id="" parameterType=""> => <selectKey> : 자동증가번호
		<update id="" parameterType="">
		<delete id="" parameterType="">
		=> id : 구분자
		=> id 중복 금지
		=> resultType="" : 결과값 SQL에서 받은 값 담는 변수 데이터형
		=> parameterType="" : 매개변수 데이터형
		=> resultMap="" 컬럼명/VO변수명이 서로 다른 경우 => 실무(보안)
		   ex) 컬럼명 - board_no board_name board_subject... => setBoard_no()
		       VO - no name subject => setNo()
		   <resultMap id="" type="BoardVO">
		      <result column="board_no" property="no" /> => 컬럼명, VO변수명 매칭
		   </resultMap> => JOIN에서 필수사용 => vo.getDvo().setName 
		
		javascript - jsp:include했을 때 아이디 중복 주의
		
		#{} / ${} 구분
		JOIN / SUBQUERY
	 -->
	 <!-- 추가 -->
	 <insert id="databoardInsert" parameterType="DataBoardVO">
	 	INSERT INTO project_databoard VALUES(
	 		(SELECT NVL(MAX(no)+1,1) FROM project_databoard),
	 		#{name}, #{subject}, #{content}, #{pwd}, SYSDATE, 0, #{filename}, #{filesize}
	 	)
	 	
	 </insert>
	 <!-- 목록 -->
	 <select id="databoardListData" parameterType="hashmap" resultType="DataBoardVO">
	 	SELECT no, subject, name, TO_CHAR(regdate, 'YYYY-MM-DD') as dbday, hit, num 
 		FROM (SELECT no, subject, name, regdate, hit, rownum as num 
 		FROM (SELECT /*+ INDEX_DESC(project_board pd_no_pk)*/no, subject, name, regdate, hit 
 		FROM project_databoard))
 		WHERE num BETWEEN #{start} AND #{end}
	 </select>
	 <select id="databoardRowCount" resultType="int">
	 	SELECT COUNT(*) FROM project_databoard
	 </select>
	 <!-- 상세 -->
	 <!-- 수정 -->
	 <!-- 삭제 -->
	 <!-- ***동적 쿼리 : 검색 -->
</mapper> 