<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.seoul-mapper">
	<select id="seoulLocationListData" resultType="SeoulLocationVO" parameterType="hashmap">
		SELECT no, title, poster, num
		FROM (SELECT no, title, poster, rownum as num 
		FROM (SELECT no, title, poster 
		FROM location ORDER BY no ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="seoulLocationTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/20.0) FROM location
	</select>
	
	<!-- 별칭 alias 등록하지 않은 경우 - 패키지명.클래스명 ex) com.sist.vo.~ -->
	<select id="seoulNatureListData" resultType="com.sist.vo.SeoulNatureVO" parameterType="hashmap">
		SELECT no, title, poster, num
		FROM (SELECT no, title, poster, rownum as num 
		FROM (SELECT no, title, poster 
		FROM nature ORDER BY no ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="seoulNatureTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/20.0) FROM nature
	</select>
	
	<select id="seoulShopListData" resultType="com.sist.vo.SeoulShopVO" parameterType="hashmap">
		SELECT no, title, poster, num
		FROM (SELECT no, title, poster, rownum as num 
		FROM (SELECT no, title, poster 
		FROM shop ORDER BY no ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	<select id="seoulShopTotalPage" resultType="int">
		SELECT CEIL(COUNT(*)/20.0) FROM shop
	</select>
</mapper>